name: Publish to WinGet

on:
  release:
    types: [published]

jobs:
  winget:
    name: Publish to WinGet
    runs-on: windows-latest
    steps:
      - name: Submit to WinGet
        uses: vedantmgoyal2009/winget-releaser@v2
        with:
          identifier: sunbeam60.pathed
          installers-regex: '_windows_.*\.zip$'
          token: ${{ secrets.WINGET_TOKEN }}
